* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: rgb(255, 247, 201);
  font-size: 20px;
  padding: 50px;
}

.first,
.third {
  color: red;
}

h1 {
  margin-bottom: 25px;
  font-size: 35px;
}

p {
  margin-bottom: 20px;
}

a {
  background-color: yellowgreen;
  text-decoration: underline;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

img {
  width: 300px;
}

#your-form {
  border: 5px solid #444;
  width: 400px;
  background-color: rgb(255, 220, 105);
  padding: 25px;
  margin-top: 30px;
}

#your-form h2 {
  color: olivedrab;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}
